# Example config

# Location of the database
# optional, default: "/data/moe-scraper.sqlite"
dbpath: ./data/moe-scraper.sqlite

# log level
# available values: off, error, warn, info, debug, trace
# optional, default: info
loglevel: info

melonbooks:
  # cron schedule when to scrape this site. if empty it will not be scraped
  # format: sec min hour day_of_month month day_of_week
  # -> every day at 02:01:05 and 09:01:05
  # optional, default None
  # example
  schedule: "0, 0, 6,18 * * *"

  # Discord webhook api keys for notifications
  # optional, default: None
  discord:
    # webhook key
    # mandatory
    apikey: "abcxyz123"

    # name displayed as author in the messages
    # optional, default: "{site}-Scraper"
    username: "Melonbooks"

    # image to display as the avatar of the messages
    # optional, default: None
    imageurl: "https://my-website.cool-image.png"

    # how many products to send at a time
    # optional, default: 10
    chunksize: 10

# Overwrite the openssl config file location
# optional, default: None
opensslconfig: "/etc/seclevel_1_openssl.conf"

# http server settings
http:
  # the port of the http server
  # optional, default 80
  port: 80

  # assets dir to be served
  # optional, default: None
  assetsdir: /data/assets