:root {
    --mobile-breakpoint: 500px;
    --min-product-row-width: 450px;
    --min-mobile-product-row-width: 300px;
}

.navy {
    --bg: hsl(226, 23%, 11%);
    --fg: #bcbdd0;
    --label-color: #ffaaaa;
    --value-color: #ccffff;
    --availability-available: #77ff77;
    --availability-not-available: #ff7777;
    --artist-following: #ffaaff;
    --color-scheme: dark;
}

:root {
    color-scheme: var(--color-scheme);
}

html {
    font-family: "Open Sans", sans-serif;
    color: var(--fg);
    background-color: var(--bg);
    height: 100%;
}

body {
    margin: 0;
    overflow-x: hidden;
    height: 100%;
}

.artist-selection {
    direction: ltr;
    padding: 0.3rem;
}

.product-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--min-product-row-width), 1fr));
    background: transparent;
}

.product-grid-item {
    display: grid;
    grid-template-columns: 200px 2fr 2fr;
    column-gap: 0.5rem;
    row-gap: 0.5rem;
    padding: 0.5rem;
    border-top: 0.05rem solid white;
}

.product-info-label {
    display: block;
    font-size: 0.8rem;
    font-variant: small-caps;
    color: var(--label-color);
}

.product-info-value {
    color: var(--value-color);
}

.product-availability-available {
    color: var(--availability-available);
}

.product-availability-not-available {
    color: var(--availability-not-available);
}

.product-artist-following {
    color: var(--artist-following);
}

.product-image-item {
    display: flex;
    grid-row: 1 / span 5;
    justify-content: center;
}

.product-item-wide {
    grid-column: span 2;
}

.product-item-artists {
    word-break: keep-all;
}

.product-item-flags {
    word-break: keep-all;
}

.product-item-date {
    font-size: 0.8rem;
}

.product-image {
    max-width: 200px;
    max-height: 250px;
}

/* use mobile breakpoing from above */
@media screen and (max-width: 500px) {
    .product-grid-container {
        grid-template-columns: minmax(var(--min-mobile-product-row-width), 1fr);
    }

    .product-grid-item {
        grid-template-columns: 50% 50%;
    }

    .product-image-item {
        grid-row: 1;
        grid-column: span 2;
    }
}